<div class="header">
    <div class="header__box">
        <%= link_to "Private Events!", events_path, class:'btn btn--primary' %>
                <% if user_signed_in? %>
        <div class="header__nav">
            <ul class="header__nav-links">
                <li><%= link_to "New event", new_event_path, class: 'nav-btn' %></li>
                <li><%= link_to "Profile", user_path(current_user), class:'btn btn--primary nav-btn' %></li>
                <li><%= button_to "Log Out", destroy_user_session_path, class: 'btn-primary nav-btn',method: :delete %></li>
                <% else %>
                <li><%= link_to "Login", new_user_session_path, class:'btn btn--primary nav-btn' %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>