<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Back to events", events_path %> 

  <% if user_signed_in? && current_user.id == @event.creator_id %>
    <%= link_to "Edit this event", edit_event_path(@event) %>

    <%= button_to "Destroy this event", @event, method: :delete %>     
  <% end %>

 <% if user_signed_in? && current_user.id != @event.creator_id && current_user.id != @event.attendees %>
    <%= button_to "Attend this event", event_attendings_path(event_attending: { attended_event_id: @event.id }), method: :post %> 
  <% end %>

  <%= @event.attendees.include?(current_user) ? "You are attending this event" : "You are not attending this event" %>



</div>
