<p style="color: green"><%= notice %></p>

<div class="card">
<%= render @event %>
</div>

<div>
  <%= link_to "Back to events", events_path %> 

  <% if user_signed_in? && current_user.id == @event.creator_id %>
    <%= link_to "Edit this event", edit_event_path(@event) %>
    <%= link_to "Destroy this event", @event, method: :delete, class: '' %>     
  <% end %>

  <% if (user_signed_in? && !@event.attendees.include?(current_user)) && !(current_user.id == @event.creator_id)%>
      <%= button_to "Attend this event", event_attendings_path(event_attending: { attended_event_id: @event.id}, method: :post) %>
  <% end %>

  <% if @event.attendees.any? %>
    <h3>Attendees</h3>
    <ul>
      <% @event.attendees.each do |attendee| %>
        <li>
          <%= attendee.name %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
